.nav-menu {
    position: fixed;
    height: 100%;
    width: auto;
    background: #373a47;
    color: #fff;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 250px;
}

.nav-menu .fa-times {
    position: absolute;
    right: 0;
    padding: 15px;
    font-size: larger
}

.nav-menu .content{
    padding-top: 50px;
    padding-bottom: 15px;
}

.main-container {
    overflow: hidden
}

.burger-icon {
    font-size: x-large;
}
