    <Table>
                            <tbody>
                                <% _.keys(tableRowMap).forEach(function (key) { %>
                                <%= tableRowMap[key]%>
                                <% }) %>        
                            </tbody>
                        </Table>